*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
gradlew
gradlew.bat
/app/release
/app/build
google-services.json

/.settings
/.project

app/.settings
app/.classpath
app/.project

base/.settings
base/.classpath
base/.project

app/src/main/res/values/example.xml
/app/src/main/res/values/example.xml

gradle.properties